<section id="register" style="padding-left: 0.5em;">
  <p>GrokSwap is currently invite only. Register your interest to receive priority updates.</p>
  {% if site.environment == 'production' %}
    <form action="https://gs-mailing-list.herokuapp.com/mailing_lists" method="POST">
  {% else %}
    <form action="http://0.0.0.0:3000/mailing_lists" method="POST">
  {% endif %}
    <div class="field half first">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" required />
    </div>
    <div class="field half">
      <label for="email">Email</label>
      <input type="text" name="email" id="email" required/>
      <div id="email-notice">
        <p>Please enter a valid email address</p>
      </div>
    </div>
    <input type="checkbox" name="checked" id="privacy-checked" value="true" required />
    <label for="privacy-checked">I agree to receiving emails from GrokSwap with service updates and marketing</label>
    <ul class="actions">
      <li><input id="register-submit" type="submit" value="Register for Updates" class="special" /></li>
    </ul>
    <div id="register-notice">
      <p>Thank you for registering for updates. Grok soon!</p>
    </div>

  </form>
</section>

<script>
  document.getElementById('register-submit').addEventListener("click",function() {
    if (validForm()) {
      setTimeout(reloadPage, 1);
    };
  });
  function validForm() {
    let email = document.getElementById('email').value
    return document.getElementById('privacy-checked').checked &&
            document.getElementById('name').value.length > 0 &&
            email.length > 0 &&
            validEmail(email)
  };
  function disableFunction() {
    document.getElementById('register-submit').disabled = 'disabled';
    document.getElementById('register-notice').style.display = 'block';
  }
  function validEmail(email)
  {
    if (/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/.test(email))
    {
      return (true)
    }
    document.getElementById('email-notice').style.display = 'block';
    return (false)
  }
  function reloadPage() {
    window.location.href = window.location.origin + "/updates";
  }
</script>