<section id="register" style="padding-left: 0.5em;">
  <p>GrokSwap is currently invite only. Register your interest to receive priority updates.</p>
  {% if site.environment == 'production' %}
    <form action="https://gs-mailing-list.herokuapp.com/mailing_lists" method="POST">
  {% else %}
    <form action="http://0.0.0.0:3000/mailing_lists" method="POST">
  {% endif %}
    <div class="field half first">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" required />
    </div>
    <div class="field half">
      <label for="email">Email</label>
      <input type="text" name="email" id="email" required/>
    </div>
    <input type="checkbox" name="checked" id="privacy-checked" value="true" required />
    <label for="privacy-checked">I agree to receiving emails from GrokSwap with service updates and marketing</label>
    <ul class="actions">
      <li><input type="submit" value="Register for Updates" class="special" /></li>
    </ul>
  </form>
</section>
